.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}
h1 {
  font-size: 2rem;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

li {
  margin: 0px;
  padding: 0px;
  font-size: 1.3rem;
  font-weight: bold;
}
